---
import Layout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
---

<Layout title={post.data.title}>
  <article class="prose mx-auto p-6">
    <h1>{post.data.title}</h1>
    <p>{post.data.description}</p>
    <p><em>Published: {post.data.pubDate}</em></p>
    <div>
      <Content />
    </div>
  </article>
</Layout>
